.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navigation-links-text {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 1.6;
  user-select: none;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-text:hover {
  box-shadow: inset 0px -2px 0px #FF0000;
}
.navigation-links-text1 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 1.6;
  margin-left: 41px;
  user-select: none;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-text1:hover {
  box-shadow: inset 0px -2px 0px #FF0000;
}
.navigation-links-text2 {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 1.6;
  margin-left: 41px;
  user-select: none;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-text2:hover {
  box-shadow: inset 0px -2px 0px #FF0000;
}
.navigation-links-register {
  margin-left: var(--dl-space-space-threeunits);
}








.navigation-links-root-class-name17 {
  margin-right: 0px;
}
.navigation-links-root-class-name18 {
  align-self: center;
}
@media(max-width: 991px) {
  .navigation-links-nav {
    align-items: center;
    justify-content: center;
  }
  .navigation-links-root-class-name18 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .navigation-links-text1 {
    margin-left: 0px;
  }
  .navigation-links-text2 {
    margin-left: 0px;
  }
  .navigation-links-register {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .navigation-links-root-class-name18 {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .navigation-links-nav {
    align-items: center;
    justify-content: center;
  }
  .navigation-links-text1 {
    margin-left: 0px;
  }
  .navigation-links-text2 {
    margin-left: 0px;
  }
  .navigation-links-register {
    margin-left: 0px;
  }
  .navigation-links-root-class-name18 {
    align-self: center;
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  user-select: none;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.navigation-image {
  width: 100px;
  object-fit: cover;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.navigation-mobile-menu {
  height: auto;
  padding: var(--dl-space-space-unit);
}
.navigation-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navigation-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 0px;
  justify-content: space-between;
}
.navigation-image1 {
  width: 100px;
  object-fit: cover;
}
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon2 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
  .navigation-mobile-menu {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
  .navigation-container {
    position: relative;
  }
  .navigation-close-mobile-menu {
    position: static;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
  .navigation-mobile-menu {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
  .navigation-container {
    position: relative;
  }
  .navigation-close-mobile-menu {
    position: static;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navigation-mobile-menu {
    height: auto;
  }
  .navigation-nav1 {
    margin-bottom: 0px;
  }
  .navigation-container {
    position: relative;
    align-items: center;
    margin-bottom: 0px;
    justify-content: space-between;
  }
  .navigation-close-mobile-menu {
    position: static;
    align-items: center;
    justify-content: center;
  }
}
